@tailwind base;
@tailwind components;
@tailwind utilities;




.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


.active {
  color: #61dafb;
  padding: 5px;
}

.delete-button {
  border-radius: 5px;
  border: 0px;
  color: white;
  background-color: #FF5353;
  font-weight: bold;
}

.add-button {
  border-radius: 8px;
  font-size: 1rem;
  font-weight: bold;
  border: 0px;
  color: white;
  background-color: #3995FF;
  padding: 8px 60px;
}


.patients-table {
  /* width: 90%; */
  border-collapse: collapse;
  border: 1px solid #ababab;
  text-align: center;
  vertical-align: middle;
  margin: 2rem auto;
}

.patients-table td {
  padding: 6px 12px;
  color: grey;
  font-size: 1rem;
}

.patients-table th {
  padding: 6px 12px;
  background: #3995FF;
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
}

.patients-table tr:nth-child(even) {
  background-color: #ebebeb;
}